header {
	height: 100vh;
	padding-top: 6rem;
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

.flexer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.flexer__item {
	min-width: 6rem;
	min-height: 5rem;
	justify-content: center;
}

.title {
	margin: 0 auto;
	color: var(--color-white);
	text-align: center;
	max-width: 600px;
	position: relative;
}

.title::before {
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	background: var(--color-white);
	left: 0;
	top: 50%;
	position: absolute;
}

.title::after {
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	background: var(--color-white);
	right: 0;
	top: 50%;
	position: absolute;
}

/* ------- Call to Action Buttons ------- */

.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* ------- Header Socials ------- */

.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.header__socials::before,
.header__socials::after {
	content: '';
	width: 1px;
	height: 3rem;
	background: var(--color-primary);
}

/* ------- Me ------- */

.me {
	width: 80%;
	min-height: 25rem;
	margin: 3rem auto 0.5rem;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	border-radius: 0.5rem;
	background-image: url('../../assets/hideo.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

/* ------- Scoll Down ------- */

.scroll__down {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.flipped {
	transform: rotate(90deg);
}

/* ---- Media queries ---- */

@media screen and (min-width: 1024px) {
	
}

@media screen and (max-width: 768px) {
	.title::before,
	.title::after {
		display: none;
	}
}

@media screen and (max-width: 600px) {

	.header__socials, 
	.scroll__down {
		display: none;
	}
}
